*.mp4 filter=lfs diff=lfs merge=lfs -text
public/Screen[[:space:]]Recording[[:space:]]2025-04-13[[:space:]]112118[[:space:]](3).mp4 filter=lfs diff=lfs merge=lfs -text
src/components/Hackathon_lol.mp4 filter=lfs diff=lfs merge=lfs -text
src/components/RealEstate.mp4 filter=lfs diff=lfs merge=lfs -text
public/cardmatch-demo.mp4 filter=lfs diff=lfs merge=lfs -text
